<%- include('./includes/head.ejs') %>
</head>

<body>
  <%- include('./includes/navigation.ejs') %>
  <main>
    <form action="/<% if (editing) { %>warehouse/edit<% } else { %>warehouse/add<% } %>" method="POST">
      <div class="container col-sm-8 card p-4 mt-3">
        <div class="row mb-3">
          <label for="city" class="col-sm-2 col-form-label">City</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="city" id="city" value="<% if (editing) { %><%= warehouse.city %><% } %>" required>
          </div>
        </div>

        <div class="row mb-3">
          <label for="postCode" class="col-sm-2 col-form-label">Post Code</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="postCode" id="postCode" value="<% if (editing) { %><%= warehouse.postCode %><% } %>" required>
          </div>
        </div>

        <div class="row mb-3">
          <label for="country" class="col-sm-2 col-form-label">Country</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="country" id="country" value="<% if (editing) { %><%= warehouse.country %><% } %>" required>
          </div>
        </div>

        <% if (editing) { %>
        <input type="hidden" value="<%= warehouse._id %>" name="warehouseId">
        <% } %>

        <div class="row mb-3">
          <label for="description" class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary col-sm-12"><% if (editing) { %>Update Warehouse<% } else { %>Add Warehouse<% } %></button>
          </div>
        </div>

      </div>
    </form>
  </main>

  <%- include('./includes/end.ejs') %>