<%- include('./includes/head.ejs') %>
</head>

<body>
  <%- include('./includes/navigation.ejs') %>
  <main>
    <div class="container">
      <% if (warehouse.length > 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">City</th>
            <th scope="col">Post Code</th>
            <th scope="col">Country</th>
            <th scope="col">Controls</th>
          </tr>
        </thead>
        <tbody>
          <% for (let wh of warehouse) { %>
          <tr>
            <td><%= wh.city %></td>
            <td><%= wh.postCode %></td>
            <td><%= wh.country %></td>
            <td>
              <a href="/warehouse/<%= wh._id %>"" class=" btn btn-secondary btn-sm" class="btn">Inventory</a>
              <a href="/warehouse/edit/<%= wh._id %>" class="btn btn-primary btn-sm" class="btn">Edit</a>
              <form action="/warehouse/delete" method="POST">
                <input type="hidden" value="<%= wh._id %>" name="warehouseId" />
                <button class="btn btn-danger btn-sm" type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
      <h1>No Warehouses Found!</h1>
      <% } %>
    </div>
  </main>

  <%- include('./includes/end.ejs') %>